{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Lightcurve visualiser</h1>
        <p id="binningvalue"></p>
    </div>
</div>
<div id="plots">
    <div class="row">
        <div class="col-md-4">
            <h3 id="lcname">Tamuz Lightcurve</h3>
            <div id="lcplot" class="plot"></div>
        </div>
        <div class="col-md-4">
            <h3 id="lcname">CASU Lightcurve</h3>
            <div id="casuplot" class="plot"></div>
        </div>
        <div class="col-md-4">
            <h3 id="lcname">Raw Lightcurve</h3>
            <div id="rawplot" class="plot"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>FRMS</h3>
            <div id="frmsplot" class="plot"></div>
        </div>
        <div class="col-md-4">
            <h3>Chip position</h3>
            <div id="xyplot" class="plot"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
