{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Lightcurve visualiser</h1>
        <p id="binningvalue"></p>
    </div>
</div>
<div id="plots">
    <div class="row">
        <div class="col-md-12">
            <h3 id="lcname"></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>FRMS</h3>
            <div id="frmsplot" class="plot">Loading</div>
        </div>
    </div>

    {% include "plotdivs.html" %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
